.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}
.activeCompanion {
    background-color: #fafafa;
}
.messages {
    display: flex;
    flex-direction: column;
}
.messageItem {
    display: flex;
    flex-direction: column;
}